<div>
  <h4><i>Welcome User It's time to share, learn, reflect..</i></h4>
   
    <form [formGroup]="postRef" class="form">
      <label>Title</label><br>
      <!-- user nname should be posted when the person makes a post -->
    <input type="text" placeholder="Title" formControlName="title"/><br>
    <label>Share, I am listening</label><br>
    <textarea class="form-control" placeholder="pour it all out.."  rows="4" formControlName="comment" ></textarea><br>

    <input type="submit" value="Post!" (click)="sharePost()">

 </form>


