<div class="form-group">
  <form >

    <label>First Name</label>
    <input type="text" placeholder="Your name.."><br>

    <label>Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name.."><br>

    <label for="subject">Message</label><br>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
    <br>
    <input type="submit" value="Submit" class="btn btn-warning" />

  </form>
  <hr/>
  You can contact me via:<br>

 <div class="row">
    <div class="ml-auto text-center mb-5">
        <a class="linkedin" href="https://www.linkedin.com/in/hilda-amponsah-0a0129124/" target="_blank">
        <img src="https://img.icons8.com/fluent/48/000000/linkedin.png" width="90px"/>
        </a>
    </div>  
    <div class="col-lg-4 ml-auto">
       <a class="linkedin" href="https://github.com/Pi-hils" target="_blank">
         <img src="https://img.icons8.com/material-rounded/48/000000/github.png" width="90px"/>
       </a>
    </div>        
  </div>
 </div>